<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com/">
<head>
    <meta charset="UTF-8">
    <title>Netzwerkplan</title>
    <style>
   body{
   text-align: center;
   margin-top: 20px;
   }
   .main-container {
   width: auto;
   margin-left: auto;
   margin-right: auto;
   }
   table {
   margin-left: auto;
   margin-right: auto;
   }
   .button-action {
   margin-top:50px;
   margin: 50px;
   }






    </style>
</head>
<body>
<h1>Willkommen bei Ihrem Netzwerkplanner.</h1>
<form>action=""</form>
<div class="main-container">
    <table>
        <thead>
        <tr>
            <th>Nr.</th>
            <th>Bezeichnung</th>
            <th>Dauer</th>
            <th>Vorgänger</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${vorgaengsnummer}">-</td>
            <td><input id="inputVorgangsbezeichnung"/></td>
            <td><input id="inputDauer"/></td>
            <td>
                <button class="button-previous" id="vorgaengerEins" onclick="vorgaenger1">-
                    <button class="button-previous" id="vorgaengerZwei" onclick="vorgaenger2">-
                        <button class="button-previous" id="vorgaengerDrei" onclick="vorgaenger3">
            </td>
        </tr>
        </tbody>
    </table>
    <div class="button-container">
        <span class="button-action">
            <button type="submit">Plan erzeugen</button> </span>
        <span> <button type="submit">Reset</button>
        </span>
    </div>
    todo plus button

</div>
</form>
</body>
</html>